# Elmer gitignore file
# Preprocessed sources, object files and modules
*.f90
*.o
*.obj
*.mod

# Temp files
*~

# Dynamic libraries
*.so

# Static libraries
*.a

# Executables
*.out

# Core files
core

# Install directory
/bin