Source: elmerfem-csc
Section: science
Priority: optional
Maintainer: Juhani Kataja <juhmat@gmail.com>
Build-Depends: cmake, build-essential, liblapack-dev, libblas-dev, libblas3gf, liboce-foundation-dev, liboce-modeling-dev, libvtk5-dev, libvtk5.8, libqwt-dev, libopenmpi-dev, openmpi-bin, libmumps-dev, libhypre-dev, libqt4-dev, libqt4-gui, gfortran, gcc, g++, libqt4-opengl-dev, libvtk5-qt4-dev, libvtk5.8-qt4
Homepage: http://www.elmerfem.org

Package: elmerfem-csc
Architecture: any
Depends: libmumps-4.10.0, libhypre-2.8.0b, liboce-foundation8, liboce-modeling8, libvtk5.8, libqwt6, openmpi-bin, libqt4-opengl, libvtk5.8-qt4
Description: Elmer finite element modeling monolithic suite
 Contains ElmerGUI
